<h1 align="center">TETCO Fleet Management</h1>
<br>
<menu>
	<%= link_to "MAINTENANCE", maintenance_path %>
	<%= link_to "VEHICLES", vehicles_path %>
	<%= link_to "REPORTS", reports_path %>
<menu>
<br>
<div class="slogan">Keeping your shit fresh since 1984</div>